body{
  margin-left: 5em;
  font-family: Arial,Helvetica,sans-serif;
}

.total_panier{
  display: flex;
  margin-top: 3em;
}

.panier{
  display: block;
  margin-top: 1em;
}

.article{
  display: flex;
  padding-right: 10em;
}

div.resume_comande{
  display:flex;
  width: 20em;
}

img.photo{
  width: 15em;
}

div.supprimer{
  margin-top: 10%;
  margin-left: 10%;
}

input.supprime{
  background-color: red;
  border-radius: 0.3em;
  border: none;
  padding: 0.7em;
  color: white;
}

input.supprime[type=button]:hover{
  background-color: black;
  cursor: pointer;
}

input.bouton{
  background-color: blue;
  border-radius: 0.3em;
  border: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 12em;
  padding-right: 12em;
  color: white;
}

input.bouton[type=button]:hover{
  background-color: purple;
  cursor: pointer;
}

.center{
  justify-content: center;
}

input[type=text]{
  width: 30em;
  padding: 0.5em 1em;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #000;
    border: none;
    height: 2px;
}

hr.panier{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #000;
    border: none;
    height: 2px;
    margin-right: 3em;
}

hr.resume{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #000;
    border: none;
    height: 2px;
}

div.element_article{
  width: 20em;
}

.button{
  background-color: #fff;
  border-style: outset;
  border-color: #000;
  height: 2em;
  width: 8em;
  text-shadow:none;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

fieldset{
  border: none;
}

.nom_article{
  font-size: 1.2em;
}


@media screen and (max-width: 1416px){
  *{
    justify-content: center;
    text-align: center;
  }
  .total_panier{
    flex-direction: column;
  }
  .panier{
    margin-bottom: 2em;
  }
  div.resume_commande{
    margin-bottom: 3em;
  }
  hr.resume{
    margin-left: 15em;
    margin-right: 15em;
  }
  hr.panier{
    margin-left: 8em;
    margin-right: 8em;
  }
}
